*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .container{
    display: flex;
  
  }
  main{
    width: 100%;
    padding: 20px;
  
  }
  
  .sidebar{
    background: rgb(33, 82, 0);
    color: rgb(255, 208, 0);
    height: 100vh;
  
  }
  
  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px ;
  
  }
  
  .logo{
    font-size: 25px;
    color: rgb(245, 193, 23);
    font-weight: bold;
  
  }
  
  .link {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    transition: all 0.5s;
  }
  
  .link:hover {
    background: rgb(245, 160, 3);
    color: black;
    transition: all 0.5s;
  }
  
  .active {
    background-color: rgb(50, 156, 255);
    color: black;
    font-weight: bold;
  }
  
  .icon, .link_text {
    font-size: 20px;
    margin-left: 10px;
  
  }
  
  .link_text {
    font-size: 20px;
    margin-left: 25px;
  
  }
  .bars {
      display: flex;
      font-size: 25px;
      margin-left: 20px;
  }
  
  
  .headRegister {
    color: black;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 50px;
  
  }
  
  .username {
    color: black;
    margin-bottom: 0px;
    margin-right: 20px;
  
  }
  
  #userRegister {
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 50px;
    margin: 10px;
  
  }
  
  .inputRegister {
    color: black;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
  
  }
  
  .buttonReg {
    background-color: rgb(25, 182, 255);
    color: rgb(0, 0, 0);
    width: 30%;
    border-radius: 20px;
    border: none;
    text-decoration: none;
  
  }
  
  .buttonReg:hover {
    background-color: rgb(255, 180, 67);
  
  }
  
  .user {
    color: black;
  
  
  }
  
  